* {
  text-align: center;
}

#art {
  margin: 0 auto;
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 3px solid black;
  ;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}

.pen {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

.paint-container {
  margin: 1rem 0;
}